USERS_DB_USER=users_svc
USERS_DB_PASSWORD=degistir
CONTENT_DB_USER=content_svc
CONTENT_DB_PASSWORD=degistir
SUBSCRIPTIONS_DB_USER=subscriptions_svc
SUBSCRIPTIONS_DB_PASSWORD=degistir
DB_HOST=postgres
DB_PORT=5432